@import "_reset";
@import "_var";
@import "_mixins";
@import "_header";
@import "_banner";

*,
:after,
:before {
  box-sizing: border-box;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
