@import "reset";
@import "variables";
@import "mixins";

.container {
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

@import "sections/editor";
@import "sections/product";
@import "sections/pricing";
